@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Ubuntu:wght@300&display=swap");

@keyframes changeColor {
  0% {
    background-color: #ffffff; /* Cor inicial */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  50% {
    background-color: #bbbbbb; /* Cor no meio da animação */
    box-shadow: 0 0 10px rgba(214, 214, 214, 0.7);
  }
  100% {
    background-color: #7e7e7e; /* Cor final */
    box-shadow: 0 0 10px rgba(118, 118, 118, 0.7);
  }
}

@media (max-width: 600px) {
  .shapes-grid {
    grid-template-columns: 0.3fr 1fr;
  }

  .search-bar {
    display: none;
  }

  .nav-menu-list-links {
    gap: 8px;
  }

  .header-img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }

  .header-img img {
    height: 2rem;
    width: 2rem;
  }

  .nav-other-links-list {
    overflow-x: auto;
    gap: 16px;
  }

  .nav-menu-list-links li a:hover {
    text-decoration: none;
  }

  .nav-menu-list-links li a:active {
    text-decoration: none;
  }

  .footer {
    height: 15rem;
  }

  .footer-grid-left {
    width: 49%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    /* /* gap: 1rem; */
  }

  .footer-grid-left h2 {
    display: flex;
    align-items: center;
    grid-column: 3 / 12;
    grid-row: 3 / 5;
    color: white;
    font-size: 1rem;
  }

  .footer-paragraph-1 {
    display: none;
    grid-column: 3 / 15;
    grid-row: 6 / 11;
    color: white;
    font-size: 0.8rem;
  }

  .footer-paragraph-2 {
    display: block;
    grid-column: 3 / 15;
    grid-row: 6 / 11;
    color: white;
    font-size: 0.5rem;
  }


  #img-off {
    display: none;
  }

  /* .footer-grid-left a { */
  /* display: none; */
  /* } */

  .footer-instagram-link {
    grid-column: 3 / 4;
    grid-row: 11 / 13;
  }

  .footer-instagram-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-whatsapp-link {
    grid-column: 4 / 5;
    grid-row: 11 / 13;
    align-items: center;
    display: flex;
  }

  .footer-whatsapp-icon {
    height: 1.6rem;
    width: 1.6rem;
  }

  .footer-twitter-link {
    grid-column: 5 / 6;
    grid-row: 11 / 13;
  }

  .footer-twitter-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-grid-left ul {
    display: block;
    gap: 8px;
    grid-column: 16 / 21;
    grid-row: 3 / 15;
    padding-left: 1rem;
    font-size: .5rem;
  }

  .footer-grid-left ul li {
    margin-top: 12px;
  }

  .footer-grid-left ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
  }

  .footer-grid-left ul li a:visited {
    text-decoration: none;
  }

  .footer-grid-left ul li a:hover {
    text-decoration: none;
  }

  .footer-grid-left ul li a:active {
    text-decoration: none;
  }

  .footer-grid-left ul .subscribe-link {
    grid-column: 1 / 1;
    grid-row: 7 / 8;
  }

  .footer-grid-left ul .contactus-link {
    grid-column: 1 / 1;
    grid-row: 8 / 9;
  }

  .footer-grid-left ul .privacy-policy {
    grid-column: 1 / 1;
    grid-row: 9 / 10;
  }

  #li-off {
    display: none;
  }

  .footer-grid-right {
    width: 49%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin-left: 2%;
  }

  .footer-grid-right h2 {
    color: #ffffff;
    grid-column: 5 / 16;
    grid-row: 4 / 5;
    font-size: 1rem;
}

  .subscribe-form {
    position: relative;
    grid-column: 3 / 19;
    grid-row: 7 / 8;
  }
  
  .subscribe-form #subscribe-input {
    width: 100%;
    height: 100%;
    background-color: black;
    border-color: transparent transparent #ffffff
    transparent;
    color: #ffffff;
  }

  .subscribe-form #subscribe-input::placeholder {
    font-size: .6rem;
  }

  .subscribe-form #subscribe-input:focus {
    outline: none;
  }

  .subscribe-form #subscribe-button {
    position: absolute;
    height: 100%;
    width: 15%;
    right: 0;
    z-index: 1000;
    /* border: 1px dotted #ffffff; */
    border: transparent;
    background-color: transparent;
    color: #ffffff;
    transition: .3s ease-in-out;
    font-size: .6rem;
  } 

}

/* Tablet view: two columns */
@media (min-width: 601px) and (max-width: 900px) {
  .shapes-grid {
    grid-template-columns: 0.8fr 2fr;
  }

  .nav-other-links-list {
    gap: 16px;
  }

  .nav-menu-list-links  {
    gap: 16px;
  }

  .header-img {
    height: 3rem;
    width: 3rem;
  }

  .header-img img {
    height: 2rem;
    width: 2rem;
  }

  .nav-other-links-list a:visited {
    text-decoration: none;
  }

  .nav-other-links-list a:hover {
    text-decoration: none;
  }

  .nav-other-links-list a:active {
    text-decoration: none;
  }

  .footer {
    height: 15rem;
  }

  .footer-grid-left {
    width: 49%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    /* /* gap: 1rem; */
  }

  .footer-grid-left h2 {
    display: flex;
    align-items: center;
    grid-column: 3 / 12;
    grid-row: 3 / 5;
    color: white;
    font-size: 2.2rem;
  }

  .footer-paragraph-1 {
    display: none;
    grid-column: 3 / 15;
    grid-row: 6 / 11;
    color: white;
    font-size: 0.8rem;
  }

  .footer-paragraph-2 {
    display: block;
    grid-column: 3 / 15;
    grid-row: 6 / 11;
    color: white;
    font-size: 0.8rem;
  }

  /* .footer-grid-left a { */
  /* display: none; */
  /* } */

  .footer-instagram-link {
    grid-column: 3 / 4;
    grid-row: 11 / 13;
  }

  .footer-instagram-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-whatsapp-link {
    grid-column: 4 / 5;
    grid-row: 11 / 13;
    align-items: center;
    display: flex;
  }

  .footer-whatsapp-icon {
    height: 1.6rem;
    width: 1.6rem;
  }

  .footer-twitter-link {
    grid-column: 5 / 6;
    grid-row: 11 / 13;
  }

  .footer-twitter-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-grid-left ul {
    display: block;
    gap: 8px;
    grid-column: 16 / 21;
    grid-row: 3 / 15;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .footer-grid-left ul li {
    margin-top: 12px;
  }

  .footer-grid-left ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
  }

  .footer-grid-left ul li a:visited {
    text-decoration: none;
  }

  .footer-grid-left ul li a:hover {
    text-decoration: none;
  }

  .footer-grid-left ul li a:active {
    text-decoration: none;
  }

  .footer-grid-left ul .subscribe-link {
    grid-column: 1 / 1;
    grid-row: 7 / 8;
  }

  .footer-grid-left ul .contactus-link {
    grid-column: 1 / 1;
    grid-row: 8 / 9;
  }

  .footer-grid-left ul .privacy-policy {
    grid-column: 1 / 1;
    grid-row: 9 / 10;
  }

  #li-off {
    display: none;
  }

  .footer-grid-right {
    width: 49%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin-left: 2%;
  }

  .footer-grid-right h2 {
    color: #ffffff;
    grid-column: 5 / 17;
    grid-row: 2 / 5;
    font-size: 2.2rem;
}

  .subscribe-form {
    position: relative;
    grid-column: 5 / 16;
    grid-row: 7 / 8;
  }
  
  .subscribe-form #subscribe-input {
    width: 100%;
    height: 100%;
    background-color: black;
    border-color: transparent transparent #ffffff
    transparent;
    color: #ffffff;
  }

  .subscribe-form #subscribe-input:focus {
    outline: none;
  }

  .subscribe-form #subscribe-button {
    position: absolute;
    height: 100%;
    width: 15%;
    right: 0;
    z-index: 1000;
    /* border: 1px dotted #ffffff; */
    border: transparent;
    background-color: transparent;
    color: #ffffff;
    transition: .3s ease-in-out;
  } 

  
}

/* Desktop view: three columns */
@media (min-width: 901px) {
  .search-bar {
    display: flex;
  }

  .nav-menu-list-links {
    gap: 32px;
  }

  .nav-other-links-list {
    gap: 32px;
  }

  .nav-other-links-list a:visited {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1rem;
  }

  .nav-other-links-list a:hover {
    text-decoration: none;
    font-weight: 600;
    color: var(--link-color-hover);
    font-size: 1.2rem;
  }

  .nav-other-links-list a:active {
    text-decoration: none;
    font-weight: 600;
    color: var(--link-color-active);
    font-size: 1.2rem;
  }

  .shapes-grid {
    grid-template-columns: 1fr 4fr;
  }

  .shapes-grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .image-one img {
    height: 350px;
    width: 270px;
  }

  .header-img {
    height: 5rem;
    width: 5rem;
  }

  .header-img img {
    height: 4rem;
    width: 4rem;
    border-radius: 20%;
  }

  .footer {
    height: 15rem;
  }

  .footer-grid-left {
    width: 46.75rem;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 16px;
  }

  .footer-grid-left h2 {
    display: flex;
    align-items: center;
    grid-column: 3 / 9;
    grid-row: 3 / 5;
    color: white;
    font-size: 2.2rem;
  }

  .footer-paragraph-1 {
    display: block;
    grid-column: 3 / 15;
    grid-row: 6 / 11;
    color: white;
    font-size: 0.8rem;
  }

  .footer-paragraph-2 {
    display: none;
  }

  .footer-instagram-link {
    grid-column: 3 / 4;
    grid-row: 11 / 13;
  }

  .footer-instagram-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-whatsapp-link {
    grid-column: 4 / 5;
    grid-row: 11 / 13;
  }

  .footer-whatsapp-icon {
    height: 2.2rem;
    width: 2.2rem;
  }

  .footer-twitter-link {
    grid-column: 5 / 6;
    grid-row: 11 / 13;
  }

  .footer-twitter-icon {
    height: 2rem;
    width: 2rem;
  }

  .footer-grid-left ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;
    grid-column: 15 / 20;
    grid-row: 1 / 16;
    padding-left: 1rem;
    font-size: .8rem;
  }

  .footer-grid-left ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
  }

  .footer-grid-left ul li a:visited {
    text-decoration: none;
    color: #ffffff;
  }

  .footer-grid-left ul li a:hover {
    text-decoration: none;
    color: var(--link-color-hover);
  }

  .footer-grid-left ul li a:active {
    text-decoration: none;
    color: var(--link-color-active);
  }

  .footer-grid-left ul .address {
    grid-column: 1 / 1;
    grid-row: 3 / 5;
    color: #ffffff;
    list-style: none;
  }

  .footer-grid-left ul .subscribe-link {
    grid-column: 1 / 1;
    grid-row: 5 / 6;
  }

  .footer-grid-left ul .contactus-link {
    grid-column: 1 / 1;
    grid-row: 6 / 7;
  }

  .footer-grid-left ul .privacy-policy {
    grid-column: 1 / 1;
    grid-row: 7 / 8;
  }

  .footer-grid-right {
    width: 46.75rem;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin-left: 2rem;
  }

  .footer-grid-right h2 {
    color: #ffffff;
    grid-column: 7 / 14;
    grid-row: 2 / 5;
    font-size: 2.5rem;
  }

  .subscribe-form {
    position: relative;
    grid-column: 5 / 16;
    grid-row: 7 / 8;
  }
  
  .subscribe-form #subscribe-input {
    width: 100%;
    height: 100%;
    background-color: black;
    border-color: transparent transparent #ffffff
    transparent;
    color: #ffffff;
  }

  .subscribe-form #subscribe-input:focus {
    outline: none;
  }

  .subscribe-form #subscribe-button {
    position: absolute;
    height: 100%;
    width: 15%;
    right: 0;
    z-index: 1000;
    /* border: 1px dotted #ffffff; */
    border: transparent;
    background-color: transparent;
    color: #ffffff;
    transition: .3s ease-in-out;
  } 

  .subscribe-form #subscribe-button:hover, 
  .subscribe-form #subscribe-button:active {
    color: red;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}

html {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  --link-color-normal: #ffffff;
  --link-color-active: orange;
  --link-color-hover: red;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

header {
  position: fixed;
  display: flex;
  background-color: black;
  width: 100%;
  height: 8.5rem;
  justify-content: space-between;
  align-items: center;
  transition: height 0.5s ease-in-out;
}

.header-img {
  display: flex;
  margin-left: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.header-img img {
  border-radius: 20%;
}

.nav-menu-list-links {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.nav-menu-list-links li a {
  text-decoration: none;
  color: var(--link-color-normal);
}

.nav-menu-list-links li a:hover {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--link-color-hover);
}

.nav-menu-list-links li a:active {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--link-color-active);
}

.search-bar {
  width: 40%;
  align-items: center;
  justify-content: flex-end;
}

.search-bar input {
  height: 3rem;
  width: 100%;
  border-radius: 30px;
  padding-left: 0.5rem;
  justify-content: right;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  padding-left: 0.5rem;
}

.search-bar button {
  position: absolute;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  z-index: 10000;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}

#search-button-icon {
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
}

.search-bar button:hover #search-button-icon {
  font-size: 1.8rem;
}

.search-bar button:hover {
  background-color: rgb(227, 222, 222);
}

.nav-other-links {
  display: flex;
  position: fixed;
  width: 100%;
  height: 2rem;
  margin-top: 8.5rem;
  border: 1px solid black;
  align-items: center;
  background-color: #ffffff;
}

.nav-other-links-list {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
}

.nav-other-links-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: black;
  transition: 0.3s ease-in-out;
}

#nav-other-links {
  transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}

/* nav bar finish */

/* footer */

.footer {
  display: flex;
  position: relative;
  width: 100%;
  background-color: black;
}

.footer-grid-left {
  display: grid;
}

.footer-grid-right {
  display: grid;
}


