saving-changes/gitignore # Arquivos de artefato de nó
node_modules/
dist/

# Ferramentas de desenvolvimento
.vscode/
.idea/

# Segredos de ambiente
.env
. env.*
secrets.json

# Arquivos de classe Java compilados
*.class

# Bytecode Python compilado
*.py[cod]

# Caches e arquivos de log
.eslintcache
*.log

# Arquivos de pacote
*.jar

# Maven
target/

# Builds
build/
/build
dist/
/dist

# JetBrains IDE
.idea/

# Relatórios de teste de unidade
TEST*.xml

# Gerado por MacOS
.DS_Store

# Gerado por Windows
Thumbs.db

# Testes
/test
/testing
/coverage

# Cache
.cache/

# Aplicativos
*.app
* .exe
*.war

# arquivos de mídia grandes
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv